<%- include("./templates/header"); %>
    <div class="container-fluid">
      <div class="row justify-content-center g-4">
        <!-- Card 1 -->
          <div class="col">
            <div class="card p-3 h-100 w-100 shadow text-center">
              <h2 class="mb-3">Level: <%= player.level %></h2>

              <!-- EXP Bar -->
              <div class="progress" style="height: 35px">
                <div 
                  class="progress-bar bg-success progress-bar-striped progress-bar-animated" 
                  role="progressbar" 
                  style="width: <%= xpPercentage %>%"
                >
                  <%= player.currentXP %> / <%= player.xpForNextLevel %> EXP
                </div>
              </div>
              <p class="mt-3"><%= remainingXP %> EXP until next level</p>
            </div>
          </div>
          <div class="row justify-content-center g-4 py-4">
            <div class="col">
              <div class="card p-3 h-100 w-100 shadow text-center">
                <button class="mb-4 btn game-btns">New Game Session</button>
                <button class="mb-5 btn game-btns">Plant Knowledge Review</button>
                <p class="mb-3">Match History</p>
                <% if (matches && matches.length > 0) {%>
                  <% matches.forEach(match => { %>
                    <div class="card mb-3">
                      <div class="card-body">
                        <h3><%= match.name %></h3>
                      </div>
                    </div>
                  <% }) %>
                <% } else { %>
                  <p>No match found.</p>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<%- include("./templates/footer"); %>