<%- include("templates/header") %>
    <div class="alert alert-<%= alertType %>" role="alert">
        <%- include("templates/message-list", {message: message}) %>
    </div>
    <a href='<%= link %>' class="btn btn-secondary"><%= button %></a>
<%- include("templates/footer") %>