<%- include("templates/header", {title: title, user: user}) %>
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="alert alert-<%= alertType %>" role="alert">
                    <%- include("templates/message-list", {message: message}) %>
                </div>
                <a href="<%= link %>" class="btn btn-secondary">
                    <%= button %>
                </a>
            </div>
        </div>
    </div>
<%- include("templates/footer") %>